#drawer_js {
	margin: 0;
	padding: 0;
	display: block;

	position: fixed;
	/*left: 0;*/
	left: -300px;
	top: 0;
	width: 280px;
	height: 100%;

	background-color: #FFF;
	z-index: 999;
}
.__modal_drawer {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	display: none;
	opacity: 0;
}
/* body temporal */

body, html {
	background-color: lightcoral;
	box-sizing: border-box;
	height: 100%;
}